extends ../../layouts/default.pug
block main
  
  if (user.role_id.permissions.includes("roles_view"))
    h1 #{pageTitle}
    .card.mb-3
      .card-header Danh sách
      .card-body
        .row
          .col-8
          .col-4.text-right
            if (user.role_id.permissions.includes("roles_create"))
              a(
                href=`/${prefixAdmin}/role/create`
                class="btn btn-outline-success"
              ) + Thêm mới
        table(
          class="table table-hover table-sm"
        )
          thead
            tr
              th STT
              th Nhóm quyền
              th Mô tả ngắn
              th Hành động
          tbody
            if(records.length > 0)
              each item, index in records
                tr
                  td #{index + 1}
                  td #{item.title}
                  td #{item.description}
                  td
                    a(
                      class="btn btn-secondary btn-sm"
                      href=`/${prefixAdmin}/role/detail/${item.id}`
                    ) Chi tiết
                    if (user.role_id.permissions.includes("roles_edit"))
                      a(
                        class="btn btn-warning btn-sm ml-1"
                        href=`/${prefixAdmin}/role/edit/${item.id}`
                      ) Sửa
                    if (user.role_id.permissions.includes("roles_delete"))
                      button(
                        class="btn btn-danger btn-sm ml-1"
                      ) Xóa
            else
              tr
                td(colspan="4" class="text-center") Chưa có nhóm quyền nào được tạo.
  else 
    div Bạn không có quyền truy cập trang này